.tool-card {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #EBEAED;
  background-color: #FFFFFF;
  opacity: 1;
  header {
    display: flex;
    justify-content: space-between;
  }
}